doctype html
html
    head
        link(rel="stylesheet", href="main.css")
        title Snake TS
    body
        div(class="container")
            div(class="web-browser")
                div(class="top-bar")
                    div(class="os-circle")
                    div(class="search-bar")
                        span SnakeTS
                div(class="screen")
                    div(id="game-wrapper")
                        canvas(id="snakeCanvas")
        script(src="main.js")
